@{
    string str_filter = "";
    string str_image_folder = "";
    string str_image_url = "";
    using (z_repoCodeDatas datas = new z_repoCodeDatas())
    {
        using (z_repoPhotos photos = new z_repoPhotos())
        {
            //var model = new vmPhoto();
            //model.CodeList = datas.repo.ReadAll(m => m.BaseNo == "Photo")
            //    .OrderBy(m => m.CodeNo).ToList();
            //model.PhotoList = photos.GetDapperDataList("");
            //Jacky 1120529
            var model = new vmPhoto();
            model.CodeList = datas.repo.ReadAll(m => m.BaseNo == "Drink")
                .OrderBy(m => m.CodeNo).ToList();
            model.PhotoList = photos.GetDapperDataList("");

            // Jacky 1120530 增加 py-3
            // Jacky 1120612 增加 data-aos="fade-up"
            <section id="portfolio" class="portfolio py-3" data-aos="fade-up">
                <div class="container">
                    @*Jacky 1120530 增加 pb-3 (原 css 檔的 .section-title 有設定 padding-bottom: 30px; 太厚了調小一些 ) *@
                    <div class="section-title pb-4">
                        @*<h2>商品介紹</h2>*@
                        @* Jacky 1120530 *@
                        <h2>飲品介紹</h2>
                    </div>

                    <!--<div class="row" data-aos="fade-up">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">-->
                                @*<li data-filter="*" class="filter-active">全部類別</li>*@
                                @*Jacky 1120531*@
                                <!--<li data-filter="*" class="filter-active">所有飲品</li>
                                @foreach (var item in model.CodeList)
                                {
                                    str_filter = string.Format(".filter-{0}", item.CodeNo);
                                    <li data-filter="@str_filter">@item.CodeName</li>
                                }
                            </ul>
                        </div>
                    </div>-->

                    <div class="row portfolio-container" data-aos="fade-up">
                        @foreach (var item in model.PhotoList)
                        {
                            str_filter = string.Format("filter-{0}", item.CodeNo);
                            str_image_folder = string.Format("~/Images/Photo/{0}", item.CodeNo);
                            str_image_url = string.Format("~/Images/Photo/{0}/{1}.jpg", item.CodeNo, item.FolderName);

                            //Jacky 1120531
                            // 增加 d-flex justify-content-center align-items-center 用以設定子層 img 的置中
                            <div class="col-lg-4 col-md-6 portfolio-item @str_filter d-flex flex-column justify-content-center align-items-center">
                                <img src="@Url.Content(str_image_url)" class="img-fluid" alt="" />
                                @* Jacky 1120531 於圖例底下增加 [圖例名稱] *@
                                <h4 class="mt-3 text-center" data-aos="fade-up">@item.PhotoName</h4>
                                @* Jacky 1120531 增加 style *@
                            <div class="portfolio-info px-1" style="margin-bottom: 45%; background-color: antiquewhite;">
                                @*Jacky 1120531 增加 class 讓 portfolio-info 訊息置中 *@
                                <h4 class="mt-2 text-center text-danger font-weight-bold">@item.PhotoName</h4>
                                <p>@item.CodeName</p>
                                @* Jacky 1120531 關閉 [顯示原圖大小] *@
                                @*<a href="@Url.Content(str_image_url)" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="顯示原圖大小">
        <i class="fas fa-search-plus"></i></a>*@

                                <a href="@Url.Action("PhotoDetail" , "Home" , new { area = "" , id = item.FolderName })" class="details-link" title="更多資訊">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                            </div>
                        }
                    </div>
                </div>
            </section><!-- End Portfolio Section -->
        }
    }
}